*
  margin 0
  padding 0
  box-sizing border-box

#loader
  display none
  justify-content center
  align-items center
  position fixed
  width 100vw
  height 100vh
  background-color #fff

  &.loading
    display flex

.game-object
  position fixed
  background-size 100%
  background-repeat no-repeat

  &.person
    border-radius 50%

    &.selected
      border 1px solid black

  &.wall-back
    top calc(30% - 30.5px)
    left calc(50% - 521.5px)
    width 1043px
    height 61px
    z-index 1

  &.wall-front
    top calc(30% - 31px)
    left calc(50% - 522px)
    width 1044px
    height 62px
    z-index 3

  &.wall-roof
    top calc(30% - 146px)
    left calc(50% - 521.5px)
    width 1043px
    height 116px

  &.gate-sign
    z-index 1

  &.queue-spot
    background-color rgba(0, 0, 0, 0.11)

  &.available-light
    //width 100px
    //height 20px
    background-color red
    z-index 2

    &.available
      background-color green