*
  margin 0
  padding 0
  box-sizing border-box
  font-family Helvetica, Arial, sans-serif

ul li
  list-style none
  padding 5px 0

h3
  margin-bottom 20px

#loader
  display none
  justify-content center
  align-items center
  position fixed
  width 100vw
  height 100vh
  background-color #fff

  &.loading
    display flex

.game-object
  position fixed
  background-size 100%
  background-repeat no-repeat

  &.person
    z-index 2
    border-radius 50%

    &.selected
      border 1px solid black

  &.wall-back
    top calc(30% - 30.5px)
    left calc(50% - 521.5px)
    width 1043px
    height 61px
    z-index 1

  &.wall-front
    top calc(30% - 31px)
    left calc(50% - 522px)
    width 1044px
    height 62px
    z-index 3

  &.wall-roof
    top calc(30% - 146px)
    left calc(50% - 521.5px)
    width 1043px
    height 116px

  &.gate-sign
    z-index 1

  &.queue-spot
      //background-color rgba(0, 0, 0, 0.15)

    &.taken
      background-color rgba(255, 0, 0, 0.5)

  &.available-light
    background-color red
    z-index 2

    &.available
      background-color green

.person-mouseover
  display flex
  flex-direction column
  position fixed
  top 10px
  right 10px
  z-index 100
  padding 10px
  border 3px solid #000
  border-radius 5px
  background #fff

.person-mouseover__container
  display flex
  flex-direction row

.person-mouseover__photo
  display flex
  margin-right 10px
  width 75px
  height 75px
  background-repeat no-repeat
  background-size cover

.person-mouseover__data
  display flex

.person-mouseover__data-prop
  display inline-block
  margin-right 20px
  min-width 100px
  font-weight bold

.person-mouseover__data-value
  display inline-block
  float right
  text-align right

.gate-mouseover
  display inline-block
  position fixed
  bottom 10px
  right 10px
  z-index 100
  padding 10px
  border 3px solid #000
  border-radius 5px
  background #fff