*
  margin 0
  padding 0
  box-sizing border-box

#loader
  display none
  justify-content center
  align-items center
  position fixed
  width 100vw
  height 100vh
  background-color #fff

  &.loading
    display flex

.game-object
  position fixed
  background-size 100%
  background-repeat no-repeat

  &.person
    border-radius 50%

  &.wall-back
    top calc(30% - 37px)
    left calc(50% - 590px)
    width 1180px
    height 74px

  &.wall-front
    top calc(30% - 37px)
    left calc(50% - 590px)
    width 1180px
    height 74px

  &.wall-roof
    top calc(30% - 166px)
    left calc(50% - 590px)
    width 1180px
    height 140px